<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Notas</title>
</head>
<body>
    
    <h1>Lista de Notas</h1>

    <ul>
        {% for nota in notas %}

            <li>
                {{ nota.alumno.nombre }} -
                {{ nota.curso.nombre }} -
                Nota: {{ nota.nota }}
            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'crear_nota' %}">
        Registrar Nueva Nota
    </a>

</body>
</html>